.header-nav {
  min-height: 9vh;
  width: 100%;
  background-color: $primary-color;
  padding: 13px 0;
  color: $text-color;
  .icon {
    color: #fff;
    cursor: pointer;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    .menu {
      display: flex;
      gap: 10px;
      .yt-logo {
        display: flex;
        gap: 5px;
        align-items: stretch;
        .yt-icon {
          background: rgb(255, 255, 255);
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 20%,
            rgba(255, 248, 250, 0) 24%
          );
        }
        h1 {
          font-size: 1.2rem;
        }
      }
    }
    .search {
      display: flex;
      width: 50%;
      input {
        padding: 10px;
        flex-grow: 2;
        background-color: $black;
        border: 1px solid #e5e5e563;
        border-right: none;
        color: #e5e5e5;
        letter-spacing: 0.8px;
        font-weight: 500;
        font-size: 1rem;
        &:focus {
          outline: none;
          border: 1px solid rgba(0, 0, 255, 0.603);
        }
      }
      button {
        padding: 10px 20px;
        background-color: $dark-faded;
        border: none;
        cursor: pointer;
      }
    }
    .actions {
      display: flex;
      gap: 25px;
      .search {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 528px) {
  .header-nav {
    min-height: 8vh;
    header {
      padding: 0 10px;
      .menu {
        h1 {
          display: none;
        }
      }
      .search {
        display: none;
        width: 70%;
        input {
          width: 70%;
        }
        &.open {
          display: inline-block;
        }
      }
      .actions {
        .create,
        .subscribe {
          display: none;
        }
        .search {
          display: inline-block;
        }
        &.hide {
          display: none;
        }
      }
    }
  }
}
